/* ------------- Styling for gerneral use ------------- */

@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Ubuntu&display=swap');


body {
  background-color: #f1dec2;
  background-image: linear-gradient(135deg, #f1dec2 0%, #f3bea2 30%, #efaa9c 41%, #de5959 75%);
  height: 1500px;
  font-family: 'Ubuntu', sans-serif;
  color: #212121;
}

header, main, footer {
  padding-left: 300px;
}

header {
  position: absolute;
  z-index: 5;
}

.headers{
  margin-top: 100px;
}

.flashes h4 {
  background-color: #df5b5bd3;
  font-family: 'Chicle', sans-serif;
  color: #fff;
  padding-left: 300px;
  line-height: 2;
}

/* ---------------------- Sidenav ---------------------- */

.logo {
  width: 150px;
}

.sidenav {
  background-color: #DF5B5B;
}

.sidenav li>a {
  font-family: 'Chicle', sans-serif;
  font-size: 18px;
  color: #fff;
}

.sidenav li>a>i {
  color: #fff;
}

.sidenav-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.hamburger-menu {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 30px;
  color: #fff;;
}

.opaque-overlay {
  padding-left: 6px;
  padding-top: 6px;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* ---------------------- Homepage ---------------------- */

.slider .indicators .indicator-item.active {
  background-color: #C62828;
}

/* ---------------------- Buttons ---------------------- */

.btn-green {
  background-color: #4CAF50;
  font-family: 'Chicle', sans-serif;
  font-size: 22px;
}

.btn-large:hover {
  background-color:#439e46; 
}

/* ---------------------- Register / Log in ---------------------- */

.register {
  background-image: url(/static/images/background_login.png);
  height: 1295px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display:flexbox;
	align-items: center;
	justify-content: center;
	position: relative;
}

.input-field .prefix {
  font-size: 1.7rem;
}

/* Materialize uses active / focus colors in green for it's forms. 
Those don't match the design so the css underneath is used to overwrite it.*/

.input-field .prefix.active {
  color: #212121;
}

input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: 0 1px 0 0 #707070;
  box-shadow: 0 1px 0 0 #707070;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label {
  color: #707070;
}

/* ---------------------- Footer ---------------------- */

.custom-footer {
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  color: #212121;
  font-size: small;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 2;
  padding-left: 300px;
}

.custom-footer p {
  margin-right: 35px;
}

.social-icons {
  margin-right: 15px;
  font-size: large;
  color: #212121;
}

/* ------------------ Media queries ------------------- */
@media only screen and (max-width : 1023.98px) {
  body {
    height: 1366px;
  }
  header, main, footer {
    padding-left: 0;
  }
  .btn-green {
    font-size: 14px;
  }
  .register {
    height: 1250px;
  }
  .flashes h4 {
    padding-left: 0px;
    line-height: 2;
  }
  .custom-footer {
    padding-left: 0px;
  }
  .btn-green {
    font-size: 20px;
  }
  h4 {
    font-size: 25px;
  }
  .input-field .prefix {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width : 414px) {
  body {
    height: 736px;
  }
  .register {
    height: 736px;
  }
  .headers{
    margin-top: 25px;
  }
  .btn-green {
    font-size: 18px;
  }
  h4 {
    font-size: 20px;
  }
  .input-field .prefix {
    font-size: 1.5rem;
  }
}