{% extends "base.html" %}
{% block content %}

  <!-- Hero image -->
  <div class="hero-image"></div>

  <!-- Homepage content -->
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="center-align top-margins">Hajimemashite!</h5>
        <h5 class="center-align">Nice to meet you!</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <p>
          My name is Daphne Heimgartner and I’m a Japan fan.<br>
          The first time I visited Japan was in 2013, after that time I went for
          3 more times.<br>
          I love everything about it, the land, the people, the culture
          and the food.<br>
          My 2-year old son says in Dutch: “Mama sushi maken, mama
          maki” so that’s how the name MAMAMAKI was found.<br>
          Near where I live is an Asian wholesaler, I found a simple Japanese
          cookbook and then I just started to try the recipes out.
          My husband loved it and gave me another cookbook for my
          birthday.<br>
          Since it’s easy to cook these recipes at home I want to share them
          with you. If you know any nice Japanese recipes which you can cook
          at home, please be so kind and share them here.<br>
          You can create an account at the 
          <a href="{{ url_for('register') }}" class="redirect-text">register page</a> 
          and add your own recipes.<br><br>

          I hope you enjoy it.
        </p>
      </div>
    </div>
    <div class="row bottom-margins">
      <div class="col s12 bottom-margins">
        <h5 class="center-align">Arigatōgozaimashita!</h5>
        <h5 class="center-align">Thank you!</h5>
      </div>
    </div>
  </div>

{% endblock %}