<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	{% block styles %}
	{% endblock %}
	<title>MAMAMAKI</title>
</head>

<body>

	<header>
		<!-- side navbar-->
		<ul id="slide-out" class="sidenav sidenav-fixed">
			<li>
				<div class="user-view">
					<a href="#user"><img class="logo" src="static/images/logo.png"></a>
				</div>
			</li>
			<li><a href="#!"><i class="fas fa-home menu-icons"></i>Home</a></li>
			<li><a href="#!"><i class="fas fa-info center-align"></i>About</a></li>
			<li><a href="{{ url_for('get_recipes') }}"><i class="fas fa-book-open"></i>Recipes</a></li>
			<li><a href="{{ url_for('register') }}"><i class="fas fa-user"></i>Register</a></li>
			<li><a href="#!"><i class="fas fa-user-lock"></i>Log in</a></li>
		</ul>
		<!-- mobile navbar-->
		<a href="#" data-target="slide-out" class="sidenav-trigger">
			<i class="fas fa-bars hamburger-menu opaque-overlay hide-on-large-only"></i>
		</a>
	</header>

	<section>
		<!-- Flash messages -->
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			  {% for message in messages %}
		<div class="row flashes">
			<h4 class="center-align">{{ message }}</h4>
		</div>
		    {% endfor %}
		  {% endif %}
		{% endwith %}
	</section>

	<main class="container">
		{% block content %}
		{% endblock %}
	</main>

	<!-- Footer -->
	<footer>
		<div class="custom-footer">
			<div class="row">
				<div class="col s12">
					<p class="center-align">
						<a target="_blank" href="https://www.instagram.com/daphneh1986/" rel="noreferrer">
							<i class="fab fa-instagram social-icons" aria-hidden="true"></i>
							<span class="sr-only">Instagram</span>
						</a>
						<a target="_blank" href="https://twitter.com/Daphn1986" rel="noreferrer">
							<i class="fab fa-twitter social-icons" aria-hidden="true"></i>
							<span class="sr-only">Twitter</span>
						</a>
						<a target="_blank" href="https://www.facebook.com/daphne.frankhuisen/" rel="noreferrer">
							<i class="fab fa-facebook social-icons" aria-hidden="true"></i>
							<span class="sr-only">Facebook</span>
						</a> <br>
						© Copyright 2021 - Daphne Heimgartner
					</p>
				</div>
			</div>

		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
		<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
		{% block scripts %}
		{% endblock %}
</body>

</html>