<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="MAMAMAKI Japanese home cooking, try it yourself!"> 
	<meta name="keywords" content="Japanese, recipes, cooking">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" sizes="32x32">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		referrerpolicy="no-referrer" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<!-- Validation for EmailJS -->
  <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js" defer></script>
  <!-- Validation for EmailJS end -->
	
	{% block styles %}
	{% endblock %}
	<title>MAMAMAKI</title>
</head>

<body>

	<header>
		<!-- side navbar-->
		<ul id="slide-out" class="sidenav sidenav-fixed">
			<li>
				<div class="user-view">
					<a href="{{ url_for('index') }}"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" loading="lazy"></a>
				</div>
			</li>
			<li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i>Home</a></li>
			<li><a href="{{ url_for('about') }}"><i class="fas fa-info center-align"></i>About</a></li>
			<li><a href="{{ url_for('get_recipes') }}"><i class="fas fa-book-open"></i>Recipes</a></li>
			{% if session.user %}
				<li>
					<a href="{{ url_for('personal', username=session['user']) }}">
						<i class="fas fa-user-check"></i>Personal recipe page
					</a>
			  </li>
				<li><a href="{{ url_for('add_recipe') }}"><i class="fas fa-plus"></i>Add recipe</a></li>
				<li>
					<a href="#log-out-modal" class="modal-trigger"><i class="fas fa-user-times"></i>Log out</a>
				</li>
			{% else %}
				<li><a href="{{ url_for('register') }}"><i class="fas fa-user"></i>Register</a></li>
				<li><a href="{{ url_for('login') }}"><i class="fas fa-user-lock"></i>Log in</a></li>
			{% endif %}
		</ul>
		<!-- mobile navbar-->
		<a href="#" data-target="slide-out" class="sidenav-trigger" aria-label="Hamburger menu">
			<i class="fas fa-bars hamburger-menu opaque-overlay hide-on-large-only"></i>
		</a>
	</header>

	<div>
		<!-- Flash messages -->
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			  {% for message in messages %}
		<div class="row flashes">
			<h4 class="center-align">{{ message }}</h4>
		</div>
		    {% endfor %}
		  {% endif %}
		{% endwith %}
	</div>

	<main>
		<button onclick="goToTop()" class="btn-small" id="goToTopBtn" title="Go to top"><i class="fas fa-hand-point-up"></i></button>
		{% block content %}
		{% endblock %}
	</main>

	<!-- Footer -->
	<footer>
		<div class="custom-footer">
			<div class="row">
				<div class="col s12">
					<p class="center-align">
						<a target="_blank" href="https://www.instagram.com/daphneh1986/" rel="noreferrer">
							<i class="fab fa-instagram social-icons" aria-hidden="true"></i>
							<span class="sr-only">Instagram</span>
						</a>
						<a target="_blank" href="https://twitter.com/Daphn1986" rel="noreferrer">
							<i class="fab fa-twitter social-icons" aria-hidden="true"></i>
							<span class="sr-only">Twitter</span>
						</a>
						<a target="_blank" href="https://www.facebook.com/daphne.frankhuisen/" rel="noreferrer">
							<i class="fab fa-facebook social-icons" aria-hidden="true"></i>
							<span class="sr-only">Facebook</span>
						</a> <br>
						© Copyright 2021 - Daphne Heimgartner
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Log out Modal -->
	<div id="log-out-modal" class="modal">
		<div class="modal-content center-align">
			<h4 class="card-header">Pay attention!</h4>
			<p>
				Are you sure you want to log out?
			</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close btn-flat">
				<span class="text-keep">No, I'll stay!</span>
			</a>
			<a href="{{ url_for('logout') }}"
				class="modal-action modal-close btn-flat">
				<span class="text-delete">Yes, log me out!</span>
			</a>
		</div>
	</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
		<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
		{% block scripts %}
		{% endblock %}
		
</body>

</html>