<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MAMAMAKI</title>
</head>
<body>
	{%for recipe in recipes %}
	    {{ recipe.japanese_recipe_name}}<br>
		{{ recipe.english_recipe_name}}<br>
		{{ recipe.recipe_introduction }}<br>
		{{ recipe.recipe_preparation_time }}<br>
		{{ recipe.recipe_servings }}<br>
		{{ recipe.recipe_image }}<br>
	{% endfor %}
</body>
</html>