{% extends "base.html" %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="center-align top-margins">Reshipi o henshū suru</h5>
        <h5 class="center-align">Edit recipe</h5>
        <p class="center-align">If you want updated or correct you recipe, feel free to do that here.</p>
      </div>
    </div>
    <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="card-panel">
          <!-- Japanese name -->
          <div class="row top-margins">
            <div class="input-field col s12">
              <i class="fas fa-torii-gate prefix"></i>
              <input id="japanese_recipe_name" name="japanese_recipe_name" type="text" data-length="50" minlength="5"
                maxlength="50" value="{{ recipe.japanese_recipe_name }}" class="validate" required>
              <label for="japanese_recipe_name">Japanese recipe name</label>
            </div>
          </div>
          <!-- English name -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-pen-alt prefix"></i>
              <input id="english_recipe_name" name="english_recipe_name" type="text" data-length="50" minlength="5"
                maxlength="50" value="{{ recipe.english_recipe_name }}" class="validate" required>
              <label for="english_recipe_name">English recipe name</label>
            </div>
          </div>
          <!-- Introduction -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-book-open prefix"></i>
              <textarea id="recipe_introduction" name="recipe_introduction" data-length="200" minlength="5"
                maxlength="200" class="materialize-textarea validate" required>{{ recipe.recipe_introduction }}</textarea>
              <label for="recipe_introduction">Introduction</label>
            </div>
          </div>
          <!-- Preparation time -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-hourglass-start prefix"></i>
              <input id="recipe_preparation_time" name="recipe_preparation_time" type="number" min="1" max="180"
                value="{{ recipe.recipe_preparation_time }}" class="validate" required>
              <label for="recipe_preparation_time">Preparation time in minutes</label>
            </div>
          </div>
          <!-- Servings -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-users prefix"></i>
              <input id="recipe_servings" name="recipe_servings" type="number" min="1" max="20"
                value="{{ recipe.recipe_servings }}" class="validate" required>
              <label for="recipe_servings">Servings</label>
            </div>
          </div>
          <!-- Ingredients -->
          {% for ingredient in recipe.recipe_ingredients %}
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-cookie-bite prefix"></i>
              <input id="recipe_ingredients" name="recipe_ingredients" type="text" data-length="150" minlength="2"
                value="{{ ingredient }}" maxlength="150" class="validate" required>
              <label for="recipe_ingredients{{ loop.index }}">Ingredient</label>
              <a type="button" class="right btn-small btn-red-ingredient remove_ingredient">
                <i class="fas fa-minus"></i> Remove ingredient</a>
            </div>
          </div>
          {% endfor %}
          <div class="row list_of_ingredients">

          </div>
          <div class="row">
            <div class="input-field col s12">
              <a class="right btn-small btn-green-ingredient add_ingredient">
                <i class="fas fa-plus"></i> 
                Add ingredient
              </a>
            </div>
          </div>
          <!-- Remarks -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-comment-alt prefix"></i>
              <textarea id="recipe_remarks" name="recipe_remarks" data-length="300" minlength="5" maxlength="300"
                class="materialize-textarea validate">{{ recipe.recipe_remarks }}</textarea>
              <label for="recipe_remarks">Remarks</label>
            </div>
          </div>
          <!-- Instruction -->
          {% for step in recipe.recipe_instruction %}
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-utensil-spoon prefix"></i>
              <input id="recipe_instruction" name="recipe_instruction" type="text" data-length="500" minlength="5"
                value="{{ step }}" maxlength="500" class="validate" required>
              <label for="recipe_instruction{{ loop.index }}">Instruction</label>
              <a type="button" class="right btn-small btn-red-ingredient remove_instruction_step">
                <i class="fas fa-minus"></i> Remove instruction step</a>
            </div>
          </div>
          {% endfor %}
          <div class="row list_of_instruction_steps">

          </div>
          <div class="row">
            <div class="input-field col s12">
              <a class="right btn-small btn-green-ingredient add_instruction_step">
                <i class="fas fa-plus"></i> 
                Add instruction step
              </a>
            </div>
          </div>
          <!-- Additional notes -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-comment prefix"></i>
              <textarea id="recipe_additional_notes" name="recipe_additional_notes" data-length="115" minlength="5"
                maxlength="115" class="materialize-textarea validate">{{ recipe.recipe_additional_notes }}</textarea>
              <label for="recipe_additional_notes">Additional notes</label>
            </div>
          </div>
          <!-- Images -->
          <div class="row">
            <h6 class="center-align">You can upload max 4 images</h6>
            <div class="input-field col s12">
              <i class="fas fa-image prefix"></i>
              <input id="recipe_image_1" name="recipe_image_1" type="url" value="{{ recipe.recipe_image_1 }}"
                class="validate" required>
              <label for="recipe_image_1">Place your first image url here</label>
            </div>
            <div class="input-field col s12">
              <i class="fas fa-image prefix"></i>
              <input id="recipe_image_2" name="recipe_image_2" type="url" value="{{ recipe.recipe_image_2 }}"
                class="validate">
              <label for="recipe_image_2">Place your second image url here</label>
            </div>
            <div class="input-field col s12">
              <i class="fas fa-image prefix"></i>
              <input id="recipe_image_3" name="recipe_image_3" type="url" value="{{ recipe.recipe_image_3 }}"
                class="validate">
              <label for="recipe_image_3">Place your third image url here</label>
            </div>
            <div class="input-field col s12">
              <i class="fas fa-image prefix"></i>
              <input id="recipe_image_4" name="recipe_image_4" type="url" value="{{ recipe.recipe_image_4 }}"
                class="validate">
              <label for="recipe_image_4">Place your fourth image url here</label>
            </div>
          </div>
          <!-- Switch for is vegetarian -->
          <div class="row">
            <div class="input-field col s12">
              <div class="switch">
                <i class="fas fa-leaf prefix"></i>
                <label for="recipe_is_vegetarian">
                  {% if recipe.recipe_is_vegetarian == "on" %}
                  <input type="checkbox" id="recipe_is_vegetarian" name="recipe_is_vegetarian" checked>
                  {% else %}
                  <input type="checkbox" id="recipe_is_vegetarian" name="recipe_is_vegetarian">
                  {% endif %}
                  <span class="lever"></span>
                  Is vegetarian
                </label>
              </div>
            </div>
          </div>
          <!-- Edit recipe save button -->
          <div class="row bottom-margins">
            <div class="col s12 center-align">
              <button type="submit" class=" btn-large btn-blue center-align">
                Save edited recipe <i class="fas fa-check prefix"></i>
              </button>
            </div>
            <div class="col s12 center-align">
              <!-- Cancel button -->
              <button data-target="{{ recipe._id }}" type="button"
                class="modal-trigger btn-spacing btn-large btn-red center-align recipe-margins">
                Cancel <i class="fas fa-times prefix"></i>
              </button>
              <!-- Delete Recipe Modal -->
              <div id="{{ recipe._id }}" class="modal">
                <div class="modal-content">
                  <h4 class="card-header">Pay attention!</h4>
                  <p class="center-align">
                    You are about to cancel the changes you made in your recipe, this can not be undone!
                    Are you sure you want to quit editing this recipe?
                  </p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close btn-flat">
                    <span class="text-keep">No, keep editing!</span>
                  </a>
                  <a href="{{ url_for('get_recipes') }}" data-target="{{ recipe._id }}"
                    class="modal-action modal-close btn-flat">
                    <span class="text-delete">Yes, cancel!</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}