{% extends "base.html" %}
{% block content %}

  <section class="bg-register">
      <div class="container">
        <div class="row">
          <form class="col s12 bottom-margins" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel top-margin-register">
              <div class="row">
                <h4 class="center-align">Roguin</h4>
                <h4 class="center-align">Log in</h4>
              </div>
              <!-- Username -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-user-check prefix"></i>
                  <input id="username" name="username" type="text" minlength="5" maxlength="25"
                    pattern="^[a-zA-Z0-9]{5,25}$" class="validate grey lighten-4" required>
                  <label for="username">Username</label>
                </div>
              </div>
              <!-- Password -->
              <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-user-lock prefix"></i>
                  <input id="password" name="password" type="password" minlength="5" maxlength="25"
                    pattern="^[a-zA-Z0-9]{5,25}$" class="validate grey lighten-4" required>
                  <label for="password">Password</label>
                </div>
              </div>
              <!-- Log in -->
              <div class="row">
                <button type="submit" class="col m4 push-m4 s12 btn-large btn-green center-align">
                  Log in <i class="fas fa-sign-in-alt"></i>
                </button>
              </div>
              <div class="row">
                <div class="col s12 ">
                  <p class="center-align">
                    Don’t have an account yet? 
                    <a href="{{ url_for('register') }}">Please, register here!</a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </section>

{% endblock %}