{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="col s12">
      <h5 class="center-align top-margins">
        {{ username }} no kojin reshipipēji e yōkoso
      </h5>
      <h5 class="center-align">
        Welcome to {{ username }}'s personal recipe page
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="center-align">This is your personal recipe page, on this page you will find all the recipes you created.
      </p>
    </div>
  </div>

  <!-- Recipe cards -->
  <div class="container">
    <div class="row top-margins">
      <div class="col s12 center-align">
        {% for recipe in recipes if session.user|lower == recipe.recipe_created_by|lower %}
        <div class="card bottom-margins">
          <div class="card-image">
            <img src="{{ recipe.recipe_image_1 }}" alt="Image of {{ recipe.japanese_recipe_name }}" loading="lazy">
            <span class="card-title center-align">{{ recipe.japanese_recipe_name }}</span>
          </div>
          <div class="card-content bg-white">
            <h5 class="center-align card-header">{{ recipe.english_recipe_name }}</h5><br>
            <p>{{ recipe.recipe_introduction }}<br><br>
              Preparation time about {{ recipe.recipe_preparation_time }} minutes.<br><br>
              Recipe for {{ recipe.recipe_servings }} persons.
            </p>
          </div>
          <div class="row bg-white">
            <a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}"
              class="btn-large btn-green center-align recipe-margins">
              Go to recipe <i class="fas fa-arrow-alt-circle-right prefix"></i>
            </a>
            {% if session.user|lower == recipe.recipe_created_by|lower %}
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
              class="btn-large btn-blue center-align recipe-margins">
              Edit recipe <i class="fas fa-edit prefix"></i>
            </a>
            <button data-target="{{ recipe._id }}" type="button"
              class="modal-trigger btn-large btn-red center-align recipe-margins">
              Delete recipe <i class="fas fa-trash-alt prefix"></i>
            </button>
          </div>
        </div>
        <!-- Delete Recipe Modal -->
        <div id="{{ recipe._id }}" class="modal">
          <div class="modal-content">
            <h4 class="card-header">Pay attention!</h4>
            <p class="center-align">
              You are about to delete your recipe, this can not be undone!
              Are you sure you want to delete this recipe?
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn-flat">
              <span class="text-keep">No, cancel!</span>
            </a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" data-target="{{ recipe._id }}"
              class="modal-action modal-close btn-flat">
              <span class="text-delete">Yes, delete!</span>
            </a>
          </div>
          {% endif %}
        </div>
        {% else %}
        <h3 class="no-results-text center-align">You haven't added any recipes yet!</h3>
        <h5><a href="{{ url_for('add_recipe') }}" class="btn-large btn-blue bottom-margins top-margins"><i class="fas fa-plus prefix"></i> Start adding your recipes here!</a></h5>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}